/*----------------------------*\
login
\*----------------------------*/

.reg{
    width: 400px;
    padding: 40px;
    padding-top: 15px;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
  }
  .reg label{
    color: white;
  }
  .reg h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .reg input[type = "email"],.reg input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white; 
    border-radius: 24px;
    transition: 0.25s;
  }
  .reg input[type = "email"]:focus,.reg input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .reg button[type ="button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
   
    outline: none;
    color: white; 
    border-radius: 24px;
    transition: 0.25s;  
    cursor: pointer;  
  }
  .reg button[type = "button"]:hover{
    background: #2ecc71;
  }